kivy_practice/tutorial/.DS_Store
kivy_practice/tutorial/about_the_resources.pdf
kivy_practice/tutorial/1_THE_LAB/.DS_Store
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/.DS_Store
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/main.py
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/TheLab.kv
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/.idea/.gitignore
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/.idea/kivy-thelab.iml
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/.idea/misc.xml
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/.idea/modules.xml
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/.idea/inspectionProfiles/profiles_settings.xml
kivy_practice/tutorial/1_THE_LAB/1_the_lab_layout/.idea/inspectionProfiles/Project_Default.xml
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/.DS_Store
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/main.py
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/TheLab.kv
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/fonts/.DS_Store
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/fonts/Lcd.ttf
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/images/.DS_Store
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/images/cake.jpg
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/images/lab_logo.png
kivy_practice/tutorial/1_THE_LAB/2_the_lab_widgets/images/lab_separator.png
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/.DS_Store
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/main.py
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/TheLab.kv
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/.idea/.gitignore
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/.idea/kivy-thelab.iml
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/.idea/misc.xml
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/.idea/modules.xml
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/.idea/inspectionProfiles/profiles_settings.xml
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/.idea/inspectionProfiles/Project_Default.xml
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/fonts/.DS_Store
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/fonts/Lcd.ttf
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/images/.DS_Store
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/images/cake.jpg
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/images/lab_logo.png
kivy_practice/tutorial/1_THE_LAB/3_the_lab_canvas/images/lab_separator.png
kivy_practice/tutorial/1_THE_LAB/RESOURCES/.DS_Store
kivy_practice/tutorial/1_THE_LAB/RESOURCES/fonts/.DS_Store
kivy_practice/tutorial/1_THE_LAB/RESOURCES/fonts/Lcd.ttf
kivy_practice/tutorial/1_THE_LAB/RESOURCES/images/.DS_Store
kivy_practice/tutorial/1_THE_LAB/RESOURCES/images/cake.jpg
kivy_practice/tutorial/1_THE_LAB/RESOURCES/images/lab_logo.png
kivy_practice/tutorial/1_THE_LAB/RESOURCES/images/lab_separator.png
kivy_practice/tutorial/2_GALAXY/.DS_Store
kivy_practice/tutorial/2_GALAXY/RESOURCES/.DS_Store
kivy_practice/tutorial/2_GALAXY/RESOURCES/audio/.DS_Store
kivy_practice/tutorial/2_GALAXY/RESOURCES/audio/begin.wav
kivy_practice/tutorial/2_GALAXY/RESOURCES/audio/galaxy.wav
kivy_practice/tutorial/2_GALAXY/RESOURCES/audio/gameover_impact.wav
kivy_practice/tutorial/2_GALAXY/RESOURCES/audio/gameover_voice.wav
kivy_practice/tutorial/2_GALAXY/RESOURCES/audio/music1.wav
kivy_practice/tutorial/2_GALAXY/RESOURCES/audio/restart.wav
kivy_practice/tutorial/2_GALAXY/RESOURCES/fonts/Eurostile.ttf
kivy_practice/tutorial/2_GALAXY/RESOURCES/fonts/Sackers-Gothic-Std-Light.ttf
kivy_practice/tutorial/2_GALAXY/RESOURCES/images/bg1.jpg
kivy_practice/tutorial/2_GALAXY/V1/.DS_Store
kivy_practice/tutorial/2_GALAXY/V1/galaxy.kv
kivy_practice/tutorial/2_GALAXY/V1/main.py
kivy_practice/tutorial/2_GALAXY/V2/.DS_Store
kivy_practice/tutorial/2_GALAXY/V2/galaxy.kv
kivy_practice/tutorial/2_GALAXY/V2/main.py
kivy_practice/tutorial/2_GALAXY/V2/transforms.py
kivy_practice/tutorial/2_GALAXY/V2/user_actions.py
kivy_practice/tutorial/2_GALAXY/V3/.DS_Store
kivy_practice/tutorial/2_GALAXY/V3/galaxy.kv
kivy_practice/tutorial/2_GALAXY/V3/main.py
kivy_practice/tutorial/2_GALAXY/V3/menu.kv
kivy_practice/tutorial/2_GALAXY/V3/menu.py
kivy_practice/tutorial/2_GALAXY/V3/transforms.py
kivy_practice/tutorial/2_GALAXY/V3/user_actions.py
kivy_practice/tutorial/2_GALAXY/V3/__pycache__/menu.cpython-310.pyc
kivy_practice/tutorial/2_GALAXY/V3/__pycache__/transforms.cpython-310.pyc
kivy_practice/tutorial/2_GALAXY/V3/__pycache__/user_actions.cpython-310.pyc
kivy_practice/tutorial/2_GALAXY/V3/audio/.DS_Store
kivy_practice/tutorial/2_GALAXY/V3/audio/begin.wav
kivy_practice/tutorial/2_GALAXY/V3/audio/galaxy.wav
kivy_practice/tutorial/2_GALAXY/V3/audio/gameover_impact.wav
kivy_practice/tutorial/2_GALAXY/V3/audio/gameover_voice.wav
kivy_practice/tutorial/2_GALAXY/V3/audio/music1.wav
kivy_practice/tutorial/2_GALAXY/V3/audio/restart.wav
kivy_practice/tutorial/2_GALAXY/V3/fonts/Eurostile.ttf
kivy_practice/tutorial/2_GALAXY/V3/fonts/Sackers-Gothic-Std-Light.ttf
kivy_practice/tutorial/2_GALAXY/V3/images/bg1.jpg
black_jack/src/__pycache__/cards.cpython-310.pyc
black_jack/src/__pycache__/logic.cpython-310.pyc
black_jack/src/__pycache__/player.cpython-310.pyc
